---
import { Image } from "astro:assets";
import coms from "../assets/Coms_3.webp";
---
<div class="m-6 mt-24 relative">
  <Image
		alt="portada"
		class="w-32 h-32 rounded-md absolute left-0 -top-40 ml-4"
		loading="lazy"
		src={coms}
	/>
	<h1 class="text-4xl font-bold">COMS. Energía y Salud</h1>
	<p>¡Bienvenido seas a COMS!</p>
	<p>
		Adquirí asesoramiento personalizado junto a productos adaptables a tus
		preferencias
	</p>
	<p>Quedamos a disposición para ayudarte con tus necesidades.</p>
</div>
